.navlinks a {
    color: #102851;
    text-decoration: none;
}

@media (max-width: 900px){
    .navlinks {
        background: #102851;
        position: fixed;
        top: 0;
        right: 0;
        z-index: 9999;
        height: 100vh;
        width: 90vw;
        transform: translateX(100%);
        transition: transform 400ms ease;
    }

    .navlinks.active {
        transform: translateX(0);
    }

    .navlinks a {
        color: #fff;
    }
}